@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #986dff;
    --color-dark: #111;
    --color-dark-200: #151515;
    --color-dark-400: #1f1f1f;
    --color-white: #fff;
    --color-white-100: #dedede;
    --color-white-200: #9ca3af;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--color-dark);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
